
html {
    background-color: white;
}


.circle {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    left: 60px;
    top: 60px;
}

.name {
    position: fixed;
    left: 250px;
    top: 80px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 45px;
}


.title {
    position: fixed;
    left: 250px;
    top: 150px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.locImg {
    position: fixed;
    left:770px;
    top: 60px;
}
.locInfo {
    position: fixed;
    left:800px;
    top: 60px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.worldImg {
    position: fixed;
    left:770px;
    top: 120px;
}
.worldInfo {
    position: fixed;
    left:800px;
    top: 120px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.telImg {
    position: fixed;
    left:770px;
    top: 180px;
}
.telInfo {
    position: fixed;
    left:800px;
    top: 180px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4e59aa;
    height: 300px;

}

main {
    background-color: whitesmoke;
}


footer {
    position: fixed;
    bottom: 0px;
    background: #4e59aa;
    height: 100px;
    width: 100%;
    color: whitesmoke;
}
.footerInfo {
    position: fixed;
    left: 80px;
    bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}