
html {
    background-color: white;
    height: 1200px;
    width: 1200px;
}


/* Header */

header {
    width:100%;
    background-color: #4c5eab;
    height: 250px;
}

.header-block {
    display: block;
    position: relative;
    top:50px;
    left:50px;
    width: 1000px;
}
/* Header Left Side */
.header-left-side {
    width: 70%;
    display:block;
}
.circle {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;

}
.name {

    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    float: left;
}
.title {

    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}


/* Header Right Side */
address {
    float: right;
}

ul {
    list-style-type: none;
    line-height: 30px;
    font-style: none;
}


.header-right-side {
    display: inline-block;
}

address {
    display: inline-block;
}




.loc-img {
    display: inline-block;

}

.loc-info{
    clear: both;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.loc-info:hover {
    color: orangered;
  }


.world-img {
    display: inline-block;

}
.world-info {
    display: inline-block;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.worldInfo:hover {
    color: orangered;
  }


.tel-img{
    float: left;

}
.tel-info {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: inline;
}
.tel-info:hover {
    color: orangered;
  }

.clear-both {
    clear: both;
}




/* Bag + circle - Div */
.bag {
    height: 20px;
    filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(200deg) brightness(114%) contrast(114%);
    display:inline;
    z-index: 1;
    position: relative;
    top: 13px;
    left: 13px;
}
.little-circle {
    height: 45px;
    width: 45px;
    background-color: #4c5eab; 
    border-radius: 50%;
    display:block;
    position: relative;
    float: left;
}
/* Aside-left side */


aside {
    float: left;
    width: 20%;
    display: block;
    padding: 50px 75px 50px 75px;
}
.bagbag+circle {
    display: block;
    float: left;
}
.h2-and-text {

    font-family: "Montserrat";
    font-weight: bolder;
    text-align: center;
    margin-left: 30px;
}
.profile-info-text {
    text-align: left;
    font-family: "Montserrat";
    line-height: 1.5em;
}

/* Circle for intrests */
.intersts-container{
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.empty-circle {
    border-radius: 50px/50px;
    border: solid 8px #4c5eab;
    width: 40px;
    height: 40px;
}
.headphones{

    filter: invert(39%) sepia(49%) saturate(723%) hue-rotate(191deg) brightness(82%) contrast(86%);
    display: table-cell;
    border-radius: 50px/50px;
    border: solid 8px #4c5eab;
    padding: 15px;
    width: 20px;
    height: 20px;
    margin: 0.4em;

}
.gamepad {

    filter: invert(39%) sepia(49%) saturate(723%) hue-rotate(191deg) brightness(82%) contrast(86%);
    display: table-cell;
    border-radius: 50%;
    border: solid 8px #4c5eab;
    padding: 15px;
    width: 20px;
    height: 20px;
    margin: 0.4em;

}

.biking {
    color: #4c5eab;
    display: table-cell;
    border-radius: 50%;
    border: solid 8px #4c5eab;
    vertical-align: middle;
    padding: 15px;
    width: 20px;
    height: 20px;
    margin: 0.4em;
    margin-bottom: 5px;
}
.headphones-container {
    float: left;
}
.gaming-container {
    float: left;
}
.biking-container {
    float: left;
}


.awards {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 25px;
    font-size: 16px;
}   


/* Main + Photos */
main {
    float: right;
    padding: 50px;
}
.awards p {
    display: block;
    float: left;
}
.h2-and-text-portfolio {
    font-family: "Montserrat";
    font-weight: bolder;
    text-align: left;
    margin-left: 60px;
    font-size: 25px;

}

.square {

    height: 160px;
    width: 250px;
    background-color: rgb(206, 206, 206);
}
.title-under-box {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding: 20px;
}



.square-container1 {
    float: left;
    margin:15px;
    margin-left: 80px;
}
.square-container3 {
    float: left;
    margin:10px;
    margin-left: 80px;
}
.square-container5 {
    float: left;
    margin:15px;
    margin-left: 80px;
}
.square-container2 {
    float: right;
    margin:15px;
    margin-right: 80px;
}
.square-container4 {
    float: right;
    margin:15px;
    margin-right: 80px;
}
.square-container6 {
    float: right;
    margin:15px;
    margin-right: 80px;
}




main {
    background-color: whitesmoke;
}


footer {
    position: fixed;
    bottom: 0px;
    background: #4c5eab;
    height: 100px;
    width: 1200px;
    color: whitesmoke;
}

.footer-info {
    position: fixed;
    left: 80px;
    bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
strong:hover {
    color: orangered;
}